<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Evgeniy Suite">
    <test verbose="2" preserve-order="true" name="/Users/eburdukov/Documents/eugeneBurdukovHome/java/gfljavacourses">
        <classes>
            <class name="WebTablesTest"/>
            <class name="ButtonsTest"/>
        </classes>
    </test>
</suite>